#app {
  /* background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/home-image.jpg"); */

  background-color: yellow;
}

.container {
  position: relative;
  top: 50%;
}

.main-list {
  .v-list-item {
    left: 60%;
  }
}

.buttons-list {
  display: flex;
  position: absolute;
  left: 70%;
}

.float-right {
  float: right;
}

a {
  text-decoration: none;
}



// SHAPES
.rectangle {
  height: 25px;
  width: 50px;
  background-color: white;
  border-radius:25px;
  position:relative;

  .circle{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    left: 20%;
    top: 20%;
    
  }

  .button-list-count{
    text-align: end;
    padding-right: 5px;
  }
}

.circle {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}


// MEDIA QUERIES
/* mobile */
@media (max-width: 480px) {
  #app {
    background-image: url("assets/images/home-image-mobile.jpeg");
  }

  .main-list {
    .v-list-item {
      left: 0%;
    }
  }

  .main-head-text {
    visibility:hidden;
  }
}

/* tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    // background-image: url("assets/images/home-image.jpg");
    background-color: yellow;
  }
}

/* desktop */
@media (min-width: 1025px) {
  body {
    // background-image: url("assets/images/home-image.jpg");
    background-color: yellow;
  }
}
